<p id="notice"><%= notice %></p>

<p>
  <strong>Estatus:</strong>
  <%= @trein_oper_franquium.estatus %>
</p>

<p>
  <strong>Data:</strong>
  <%= @trein_oper_franquium.data %>
</p>

<p>
  <strong>Interessado:</strong>
  <%= @trein_oper_franquium.interessado_id %>
</p>

<%= link_to 'Edit', edit_trein_oper_franquium_path(@trein_oper_franquium) %> |
<%= link_to 'Back', trein_oper_franquia_path %>
