<p id="notice"><%= notice %></p>

<p>
  <strong>Rg:</strong>
  <%= @doc_fiscai.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @doc_fiscai.cpf %>
</p>

<p>
  <strong>Serasa:</strong>
  <%= @doc_fiscai.serasa %>
</p>

<p>
  <strong>Fpc:</strong>
  <%= @doc_fiscai.fpc %>
</p>

<p>
  <strong>Bens imob:</strong>
  <%= @doc_fiscai.bens_imob %>
</p>

<p>
  <strong>Imposto renda pf:</strong>
  <%= @doc_fiscai.imposto_renda_pf %>
</p>

<p>
  <strong>Imposto renda pj:</strong>
  <%= @doc_fiscai.imposto_renda_pj %>
</p>

<p>
  <strong>Comprovante resid:</strong>
  <%= @doc_fiscai.comprovante_resid %>
</p>

<p>
  <strong>Certidao casamento:</strong>
  <%= @doc_fiscai.certidao_casamento %>
</p>

<p>
  <strong>Socio rg:</strong>
  <%= @doc_fiscai.socio_rg %>
</p>

<p>
  <strong>Socio cpf:</strong>
  <%= @doc_fiscai.socio_cpf %>
</p>

<p>
  <strong>Socio serasa:</strong>
  <%= @doc_fiscai.socio_serasa %>
</p>

<p>
  <strong>Socio fpc:</strong>
  <%= @doc_fiscai.socio_fpc %>
</p>

<p>
  <strong>Socio bens imob:</strong>
  <%= @doc_fiscai.socio_bens_imob %>
</p>

<p>
  <strong>Socio imposto renda pf:</strong>
  <%= @doc_fiscai.socio_imposto_renda_pf %>
</p>

<p>
  <strong>Socio imposto renda pj:</strong>
  <%= @doc_fiscai.socio_imposto_renda_pj %>
</p>

<p>
  <strong>Socio comprovante resid:</strong>
  <%= @doc_fiscai.socio_comprovante_resid %>
</p>

<p>
  <strong>Socio certidao casamento:</strong>
  <%= @doc_fiscai.socio_certidao_casamento %>
</p>

<%= link_to 'Edit', edit_doc_fiscai_path(@doc_fiscai) %> |
<%= link_to 'Back', doc_fiscais_path %>
